<template>
  <div class="home">
    <h1>Cart</h1>
    <div class="cart-item">
      <img
        class="cart-item__image"
        :src="item.media.source"
      >
      <div class="cart-item__details">
        <h4 class="cart-item__details-name">
          {{ item.name }}
        </h4>
        <div class="cart-item__details-qty">
          <button @click="() => updateQuantity(item.quantity - 1)">
            -
          </button>
          <p>{{ item.quantity }}</p>
          <button @click="() => updateQuantity(item.quantity + 1)">
            +
          </button>
        </div>
        <p class="cart-item__details-price">
          {{ item.line_total.formatted_with_symbol }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'CartComponent',
  data() {
    return {
      products: [],
      cart: null,
    }
  },
  fetchCart() {
    this.$commerce.cart.retrieve().then((cart) => {
      this.cart = cart;
    }).catch((error) => {
      console.log('There is an error fetching the cart', error);
    });
  }

})
</script>


<style lang="scss" scoped>
@import "./style.scss";
</style>
