<script lang="ts">
import { defineComponent } from 'vue'
import orderService from "@/services/order-service";

export default defineComponent({
  name: 'OrderCard',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    order: {
      type : Object,
      default : () => {
        return {}
      }
    },
    isBeingDelivered: {
      type : Boolean,
      default : () => {
        return false
      }
    },
  },
  data() {
    return {
      isActive: true
    }
  },
  created() {
    if (this.order.isDelivered) {
      this.isActive = false;
    }
  },
  methods:{
    async acceptOrDeliverOrder(e: Event){
      e.preventDefault();
      if (this.isBeingDelivered) {
        const success = await orderService.deliverOrder(this.order._id);
        if (success) {
          this.isActive = false;
        }
        else{
          alert("Error while delivering order");
        }
      } else {
        const success = await orderService.acceptOrder(this.order._id);
        if (success) {
          this.isActive = false;
        }
        else{
          alert("Error while accepting order");
        }
      }
    },
  },
},)
</script>

<template>
  <div class="orders">
    <div class="orders-content">
      <p class="orders-user">
        {{ order.userId }}
      </p>
      <p class="order-address">
        {{ order.address }}
      </p>
      <p class="order-date">
        {{ order.createdAt.substring(11,16) }}
      </p>
      <div>
        <button
          :disabled="!isActive"
          :class="{ active: isActive, inactive: !isActive }"
          class="custom-btn btn-2"
          @click="acceptOrDeliverOrder"
        >
          <span
            v-if="isBeingDelivered"
            class="order-button-text"
          >
            {{ isActive ? 'Deliver' : 'Delivered' }}
          </span>
          <span
            v-else
            class="order-button-text"
          >
            {{ isActive ? 'Accept' : 'Accepted' }}
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
