@import '../../assets/styles/colors.scss';

.orders {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.orders-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    border: 2px solid $primary_color;
    border-radius: 10px;
}

.orders-user {
    display: flex;
    padding: 1rem;
}

.orders-address {
    display: flex;
    padding: 1rem;

}

.orders-button {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
    outline: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-1, .btn-2 {
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.btn-1:hover {
    background: green;
    color: #fff;
}

.btn-2:hover {
    background: $primary_color;
    color: #fff;
}
.btn-1:before, .btn-2:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-1:active, .btn-2:active {
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.inactive{
  background-color: gray;
}
