<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'RegisterArticleComponent',
})
</script>

<template>
  <div class="login-page">
    <div class="login-content">
      <h1>Add Article</h1>
      <div class="login-form">
        <input
          type="text"
          placeholder="Nom du produit"
          class="search-input-login"
        >
        <input
          type="text"
          placeholder="Description"
          class="search-input-login"
        >
        <input
          type="text"
          placeholder="Categorie"
          class="search-input-login"
        >
        <input
          type="text"
          placeholder="Prix"
          class="search-input-login"
        >
        <input
          type="text"
          placeholder="Images"
          class="search-input-login"
        >
        <div class="button-login">
          <button class="signin-button-login">
            Annuler
          </button>
          <button class="login-button-login">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
