<template>
  <OrdersListComponent :orders="orders" />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import OrdersListComponent from '../../components/ordersList/index.vue'
import {Order} from "@/services/types/DataTypes";
import orderService from "@/services/order-service";


export default defineComponent({
  name: 'OrdersListPage',
  components : {OrdersListComponent},
  data() {
    return {
      orders : [],
    }
  },
  async created() {
    let result = await orderService.getAvailableOrders();
    this.orders = result as Order[];
  }

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
