<script lang="ts">
import { defineComponent } from 'vue'
import {getStore} from "@/stores/main";

export default defineComponent({
  name: 'RestaurantCard',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    restaurant: {
      type : Object,
      default : () => {
        return {}
      }
    },
  },
  setup() {
    return {
      store: getStore(),
    }
  },
  methods:{
    goToRestaurant(e: Event){
      e.preventDefault();
      this.store.state.currentRestaurantId = this.restaurant._id;
      this.$router.push(`/menu`);
    },
  },

});
</script>

<template>
  <div
    class="item-card"
    @click="goToRestaurant"
  >
    <img
      :src="restaurant.img"
      class="item-card__image"
    >
    <div class="item-card__content">
      <div class="principal-text">
        <h3 class="item-principal-name">
          {{ restaurant.name }}
        </h3>
        <p class="rating hello">
          5 ⭐️
        </p>
      </div>
      <p class="card-description hello">
        {{ restaurant.description }}
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
