.item-card__image {
    border-radius: 1em;
    width: 10em;
    height: auto;
}
.item-card{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.item-card:hover{
  cursor: pointer;
}

.item-card__content{
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.principal-text, .reservation-text{
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

.card-description, .card-price{
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    margin: 0;
}

.hello{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "…";
    text-overflow: fade;
    text-overflow: fade(10px);
    text-overflow: fade(5%);
    max-width: 8em;
}
