<template>
  <div class="home">
    <router-link
      to="/login"
      class="button-link"
    >
      Login
    </router-link>
    <img
      alt="landing pictures"
      src="../../assets/img/landing.jpg"
    >
  </div>
</template>


<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'LandingPageComponent',

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
