.button-link{
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    align-items: center;
    // margin-top: 20em;
}

.landing-page{
    background-image: url("../../assets/img/landing.jpg");
    height: 100%;
}