<template>
  <div class="home">
    <div class="restaurant-header">
      <div>
        <p>
          <b>{{ restaurant.name }} </b>
        </p>
      </div>
      <br>
      <div>
        <p> {{ restaurant.description }} </p>
      </div>
      <br>
      <div class="adress-line">
        <p> {{ address.number }} {{ address.street }}, {{ address.zipCode }}, {{ address.city }}</p>
      </div>
    </div>
    <div
      v-for="(categoryIdArticles,category) in articlesGroupedByCategory"
      :key="category"
    >
      <div>
        <h2 class="category-title">
          {{ category }}
        </h2>
        <div
          v-if="isAdmin || (isOwner && isOwnerOfTheRestaurant)"
          class="manage-category"
        >
          <add-article-form
            :category-id="categoryIdArticles.categoryId"
            :category-name="category"
            @article-added="getDataFromApi"
          />
          <button
            class="remove-category"
            @click="removeCategory(categoryIdArticles.categoryId)"
          >
            Remove category
          </button>
        </div>
      </div>
      <div class="menu-card providerlist">
        <article-card
          v-for="article in categoryIdArticles.articles"
          :key="article.name"
          :article="article"
          :is-owner-of-the-restaurant="isOwnerOfTheRestaurant"
          @article-removed="getDataFromApi"
        />
      </div>
      <hr>
    </div>
    <div
      v-if="isAdmin || (isOwner && isOwnerOfTheRestaurant)"
    >
      <label>Add a new category</label><br>
      <input
        v-model="newCategoryName"
        type="text"
        placeholder="New category name"
        class="search-input-login"
      >
      <button
        @click="addCategory"
      >
        Add a category
      </button>
    </div>
    <hr>
    <div>
      <input
        v-model="deliveryAddress"
        type="text"
        placeholder="Delivery address"
        class="search-input-login"
      >
    </div>
    <br>
    <div>
      <button
        @click="orderCommand"
      >
        Order articles
      </button>
    </div>
  </div>
  <br><br><br>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import {ArticlesGroupedByCategory, Restaurant} from "@/services/types/DataTypes";
import {getStore} from "@/stores/main";
import router from "@/router";
import articleService from "@/services/article-service";
import restaurantService from "@/services/restaurant-service";
import ArticleCard from "@/components/articleCard/index.vue";
import orderService from "@/services/order-service";
import AddArticleForm from "@/components/addArticleForm/index.vue";
import userService from "@/services/user-service";

export default defineComponent({
  name: 'MenuComponent',
  components: {ArticleCard, AddArticleForm},
  setup() {
    return {
      store: getStore(),
    }
  },
  data() {
    return {
      articlesGroupedByCategory : {},
      restaurant : {},
      categories : [],
      restaurantId: "",
      address: "",
      ownerId : 0,
      deliveryAddress: "",
      isOwner: userService.hasRoles(["owner"]),
      isAdmin: userService.hasRoles(["admin"]),
      isOwnerOfTheRestaurant: false,
      newCategoryName: "",
    }
  },
  async created() {
    if (this.store.state.currentRestaurantId == "") {
      router.push("/restaurants");
      return;
    }
    this.restaurantId = this.store.state.currentRestaurantId;
    await this.getDataFromApi();

  },
  methods: {
    async orderCommand() {
      const articlesInCart = this.store.state.articlesInCart;
      articlesInCart.forEach((quantity, articleId) => {
        if (quantity <= 0) {
          articlesInCart.delete(articleId);
        }
      });
      const result = await orderService.createOrder(articlesInCart,this.restaurantId,this.deliveryAddress);
      if (result){
        alert("Order created ! ");
        this.store.state.articlesInCart = new Map();
        await router.push("/restaurants");
      }
    },
    async getDataFromApi() {
      let articlesGroupedByCategory = await articleService.getArticlesByRestaurantId(this.restaurantId);
      this.articlesGroupedByCategory = articlesGroupedByCategory as ArticlesGroupedByCategory;

      this.restaurant = await restaurantService.getRestaurantById(this.restaurantId);
      this.restaurant = this.restaurant as Restaurant;

      this.categories = Object.keys(this.articlesGroupedByCategory);
      this.address = this.restaurant.address;
      this.isOwnerOfTheRestaurant = this.restaurant.ownerId === userService.getCurrentUserId();
    },
    async addCategory(){
      if (this.newCategoryName == ""){
        alert("Please enter a category name");
        return;
      }
      const success = await restaurantService.addNewCategory(this.restaurantId, this.newCategoryName);
      if (!success){
        alert("Error while adding category");
        return;
      }
      await this.getDataFromApi();
    },
    async removeCategory(categoryId: string){
      const success = await restaurantService.removeCategory(categoryId);
      if (!success){
        alert("Error while removing category");
        return;
      }
      await this.getDataFromApi();
    }
  },
})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
