.providerlist{
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  column-count: 2;

}

.category-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.menu-card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.adress-line{
  display: flex;
}

.remove-category{
  background-color: red;
  border-radius: 30%;
}

.manage-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove-category{
  margin-left: 2em;
}

.restaurant-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
