<template>
  <div class="home">
    <br>
    <p> Here you can accept the orders you want to deliver.</p>
    <br>
    <div class="providerlist">
      <OrderCard
        v-for="item in orders"
        :key="item.name"
        :order="item"
        :is-being-delivered="false"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import OrderCard from '../orderCard/index.vue'

export default defineComponent({
  name: 'OrdersComponent',
  components: { OrderCard },
  props: {
    orders: {
      type: Array,
      default: () => {
        return []
      }
    },
  },
//   async created() {
//     let result = await cardService.getAllRestaurants();
//     this.cards = result as Restaurant[];
//   }
})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
