<template>
  <div class="home">
    <br>
    <p> Click on the order's button to deliver it.</p>
    <p> You can also see all orders you have previously delivered.</p>
    <br>
    <div class="providerlist">
      <OrderCard
        v-for="item in orders"
        :key="item._id"
        :order="item"
        :is-being-delivered="true"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import OrderCard from '../orderCard/index.vue'

export default defineComponent({
  name: 'OrdersComponent',
  components: { OrderCard },
  props: {
    orders: {
      type: Array,
      default: () => {
        return []
      }
    },
  },

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
