<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PrivacyComponent',
})
</script>

<template>
  <div class="privacy-page">
    <h1>Protection des données sur EasyEat</h1>

    <section>
      <h2>Politique de confidentialité</h2>
      <p>
        La Politique de confidentialité de EasyEat décrit vos droits en matière de protection de la vie privée, le type d'informations personnelles collectées et la manière dont nous les utilisons et les communiquons.
      </p>
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
