<script lang="ts">
import { defineComponent } from 'vue'
import {getStore} from "@/stores/main";
import articleService from "@/services/article-service";

export default defineComponent({
  name: 'AddArticleComponent',
  props:{
    categoryId : {
      type : String,
      default : () => {
        return ""
      }
    },
    categoryName : {
      type : String,
      default : () => {
        return ""
      }
    },
  },
  emits: ['articleAdded'],
  setup() {
    return {
      store: getStore(),
    }
  },
  data: () => {
    return {
      showModal: false,
      name: "",
      description: "",
      price: 0,
      file: Object,
    };
  },
  methods: {
    onFileChange(e) {
      this.file = e.target.files[0];
    },
    async addArticle(e: Event) {
      e.preventDefault();
      const formData = new FormData();
      const content = {
        name: this.name,
        description: this.description,
        price: this.price,
      };
      formData.append('content', JSON.stringify(content));
      formData.append('img', this.file);
      const success = await articleService.addArticleToCategory(this.categoryId, formData);
      if (success){
        alert("Article added");
        this.$emit('articleAdded');
      }
      else{
        alert("Could not add article");
      }
    },
  },


})
</script>

<template>
  <div>
    <vue-final-modal
      v-model="showModal"
      classes="modal-container"
      content-class="modal-content"
    >
      <button
        class="modal__close"
        @click="showModal = false"
      >
        X
      </button>
      <span class="modal__title">Add an article to {{ categoryName }} </span>
      <div class="modal__content">
        <div class="form-content">
          <div class="login-form">
            <input
              v-model="name"
              type="text"
              placeholder="Article name"
              class="search-input-login"
            >
            <input
              v-model="description"
              type="text"
              placeholder="Description"
              class="search-input-login"
            >
            <input
              v-model="price"
              type="text"
              placeholder="Price"
              class="search-input-login"
            >
            <input
              type="file"
              placeholder="Images"
              class="search-input-login"
              @change="onFileChange"
            >
            <div class="button-login">
              <button
                class="login-button-login"
                type="submit"
                @click="addArticle"
              >
                Add article
              </button>
            </div>
          </div>
        </div>
      </div>
    </vue-final-modal>
    <button
      @click="showModal = true"
    >
      Add an article to this category
    </button>
  </div>
</template>




<style lang="scss" scoped>
@import "./style.scss";
</style>

