
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@import '../../assets/styles/colors';

.search-input-login{
  display: flex;
  height: 2rem;
  width: 20rem;
  border-radius: 1rem;
  border: 2px solid #FF385C;
  margin: 0.5rem;
  padding-left: 1rem;
}
// .login-content{
//     width: 20rem;
// }

.button-login{
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.form-content button{
  width: 45%;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:1em;
  box-sizing: border-box;
  text-decoration:none;
  // font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color: $primary_color;
  text-align:center;
  transition: all 0.2s;
  border: 0;
  height: 2rem;
}

.signin-button-login{
  background-color: #9a9a9a;
}
.signin-button-login:hover{
  background-color: #afadad;
}

.login-button-login:hover{
  background-color: #4ad295;
}

.login-page{
  background-image: url("../../assets/img/landing.jpg");
  height: 100%;
  position: fixed;
  width: 100%;
}

.login-content{
  border: white;
  background-color: white;
  position: center;
  width: 20rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}


.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
