<script lang="ts">
import { defineComponent } from 'vue'
import userService from "@/services/user-service";
require('./style.scss')

export default defineComponent({
  name: 'UserCard',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    user: {
      type : Object,
      default : () => {
        return {}
      }
    }
  },
  data() {
    return {
      role : '',
      isActive: true
    }
  },
  created() {
    this.role = this.user.role.roleName;
  },
  methods: {
    async deleteUser() {
      const email = this.user.email;
      const success = await userService.deleteUser(email);
      if (success){
        this.isActive = false;
        alert('User deleted');
      }
    }
  },
},)
</script>

<template>
  <div class="users">
    <div class="users-content">
      <p class="user-id">
        {{ user.id }}
      </p>
      <p class="user-firstname">
        {{ user.firstName }}
      </p>
      <p class="user-name">
        {{ user.name }}
      </p>
      <p class="user-role">
        {{ role }}
      </p>
      <button
        :disabled="!isActive"
        class="custom-btn btn-1"
        @click="deleteUser"
      >
        <span class="order-button-text">
          {{ isActive ? 'Delete' : 'Deleted' }}
        </span>
      </button>
    </div>
  </div>
</template>
