<template>
  <RegisterRestaurantComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import RegisterRestaurantComponent from '../../components/registerRestaurant/index.vue'


export default defineComponent({
  name: 'RegisterRestaurantPage',
  components : {RegisterRestaurantComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
