<template>
  <div class="home">
    <div class="providerlist">
      <div class="header">
        <div class="header-content">
          <p class="header-id">
            ID
          </p>
          <p class="header-firstname">
            First Name
          </p>
          <p class="header-name">
            Last Name
          </p>
          <p class="header-role">
            Role
          </p>
          <p class="header-action">
            Action
          </p>
        </div>
      </div>
      <UserCard
        v-for="item in users"
        :key="item.name"
        :user="item"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import UserCard from '../userCard/index.vue'

export default defineComponent({
  name: 'UsersComponent',
  components: { UserCard },
  props: {
    users: {
      type: Array,
      default: () => {
        return [];
      }
    },
  },
//   async created() {
//     let result = await cardService.getAllRestaurants();
//     this.cards = result as Restaurant[];
//   }
})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
