@import '../../assets/styles/colors.scss';

.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    border: 2px solid green;
    border-radius: 10px;
}

.header-id {
    display: flex;
    padding: 1rem;
}

.header-action {
    display: flex;
    padding-right: 5rem;
}