<template>
  <div id="categorybar-wrapper">
    <carousel
      :items-to-show="4"
    >
      <slide
        v-for="slide in 9"
        :key="slide"
        class="category-item"
      >
        <img
          class="category-icon"
          src="https://a0.muscache.com/pictures/c5a4f6fc-c92c-4ae8-87dd-57f1ff1b89a6.jpg"
        >
        <span class="category-title">{{ ItemTitle[slide] }}</span>
        <div class="underline" />
      </slide>
    </carousel>
    <!-- <span class="category-filter">
      <button>
        <img
          class="category-icon"
          src="images/filter.png"
        >
      </button>
    </span> -->
  </div>
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';

export default {
  name: 'App',
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      ItemTitle: {
        0: 'Americain',
        1: 'Fast-Food',
        2: 'Française',
        3: 'Japonaise',
        4: 'Asiatique',
        5: 'Sandwich',
        6: 'Pizza',
        7: 'Sushi',
        8: 'Vegan',
      },
    }
  },
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
