#categorybar-wrapper {
  display: flex;
  align-items: center;
}

.categorybar {
    width: 100%;
    //background-color: aquamarine;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  .category-icon {
    width: 24px;
    height: 24px;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  .category-title {
    font-size: 12px;
    padding: 0.5em;
  }

  .underline {
    width: 50%;
    height: 3px;
    background-color: #fff;
    border-radius: 12px;
  }

  .category-item:hover {
    .underline {
      background-color: #42b983;
      transition: 0.3s, 0.3s;
    }

    .category-title {
      color: #858585;
      transition: 0.3s, 0.3s;
    }
  }

  .category-filter { 
    align-items: center;
    button {     
      padding:0.3em 1.2em;    
      margin:0 0.3em 0.3em 0;    
      border-radius:1em;    
      box-sizing: border-box;    
      text-decoration:none;    
      // font-family:'Roboto',sans-serif;    
      font-weight:300;    
      color:#FFFFFF;    
      background-color: #ff385c;    
      text-align:center;    
      transition: all 0.2s;    
      border: 0;    
      height: 2rem
    }
  }

 .carousel__icon {
   display: none;
 }

 .carousel {
   width: 85%;
 }