<script lang="ts">
import { defineComponent } from 'vue'
const itemListDefault = {
    id: 2,
    image: 'https://unsplash.it/200/300/?random',
    name: 'Item 2',
    description: 'This is item 2',
    price: '$200',
}

export default defineComponent({
  name: 'ProductCard',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    itemlist: { default: itemListDefault },
  },
},)
</script>

<template>
  <div class="item-card">
    <img
      :src="itemlist.image"
      class="item-card__image"
    >
    <div class="item-card__content">
      <div class="principal-text">
        <h3 class="item-principal-name">
          {{ itemlist.name }}
        </h3>
        <p class="rating">
          5 ⭐️
        </p>
      </div>
      <p class="card-description">
        {{ itemlist.description }}
      </p>
      <div class="reservation-text">
        <input
          type="number"
          class="reservation-input"
          placeholder="1"
        >
        <button
          class="reservation-button"
          type="button"
          placeholder="+"
        >
          +
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
