<template>
  <UsersListComponent :users="users" />
  <br><br><br>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import UsersListComponent from '../../components/usersList/index.vue'
import userService from "@/services/user-service";
//import {User} from "@/services/types/DataTypes";
//import userService from "@/services/user-service";


export default defineComponent({
  name: 'UsersListPage',
  components : {UsersListComponent},
  data() {
    return {
      users : []
    }
  },
  async created() {
    const result = await userService.getAll();
    this.users = result;
  },
})

</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
