<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= PUBLIC_PATH %>favicon.ico" />
    <!-- <title><%= VUE_APP_TITLE %></title> -->
    <title>Easy Eat</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
