<template>
  <MenuComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MenuComponent from '../../components/menu/index.vue'


export default defineComponent({
  name: 'MenuPage',
  components : {MenuComponent},

})
</script>
