<template>
  <RegisterComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import RegisterComponent from '../../components/register/index.vue'


export default defineComponent({
  name: 'RegisterPage',
  components : {RegisterComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
