<template>
  <p> {{ token }} </p>
  <RestaurantsComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import RestaurantsComponent from '../../components/restaurants/index.vue'
import {getStore} from "@/stores/main";



export default defineComponent({
  name: 'RestaurantsPage',
  components : {RestaurantsComponent},
  setup() {
    return {
      token: getStore().state.token,
    }
  },

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
