<template>
  <PrivacyComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import PrivacyComponent from '../../components/privacy/index.vue'


export default defineComponent({
  name: 'PrivacyPage',
  components : {PrivacyComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
