<script lang="ts">
import { defineComponent } from 'vue'
import userService from "@/services/user-service";

export default defineComponent({
  name: 'NavBar',
  computed: {
    isLogged: function() {
      return this.$store.state.isLoggedIn;
    },
    isAdmin: function() {
      return this.$store.state.role == "admin";
    },
    isDeliverer: function() {
      return this.$store.state.role == "deliverer";
    },
    isOwner: function() {
      return this.$store.state.role == "owner";
    },
  },
  watch: {
    isLogged: function() {
      this.isAdmin =  userService.hasRoles(['admin']);
      this.isDeliverer = userService.hasRoles(['deliverer']);
      this.isOwner = userService.hasRoles(['owner']);
    },
  },
  methods:{
    logout(){
      userService.logout();
      this.$store.dispatch("setIsLoggedIn", false);
      this.isLogged = userService.isLogged();
    },
  }
})


</script>

<template>
  <div class="principal-navbar">
    <div class="app-logo">
      <img
        src="https://logos-marques.com/wp-content/uploads/2021/03/Uber-Eats-Logo.png"
        class="image-logo-website"
      >
    </div>
    <div id="navbar">
      <span v-if="isLogged && (isDeliverer || isAdmin)">
        <router-link to="/orders">
          Orders
        </router-link> |
      </span>
      <span v-if="isLogged && (isDeliverer || isAdmin)">
        <router-link to="/orders-deliver">
          Deliveries
        </router-link> |
      </span>
      <span v-if="isLogged && (isOwner || isAdmin)">
        <router-link to="/register-restaurant">
          Add a restaurant
        </router-link> |
      </span>
      <span v-if="isLogged">
        <router-link to="/restaurants">
          Restaurants
        </router-link> |
      </span>
      <span v-if="isLogged && isAdmin">
        <router-link to="/users">
          Users
        </router-link> |
      </span>
      <span v-if="!isLogged">
        <router-link to="/login">
          Login
        </router-link>|
        <router-link to="/register">
          Register
        </router-link>|
      </span>
      <span
        v-if="isLogged"
        @click="logout"
      >
        logout
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
