@import '../../assets/styles/colors.scss';

#navbar {
    padding: 0,5em;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: $primary_color;
    }
  }
}

.principal-navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    // position: fixed;
    // top: 0;
}

.app-logo{
    height: 4rem;
    padding: 0.5em;
}

.image-logo-website {
    height: 4rem;
}

.search-input{
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 2px solid $primary_color;
    text-align: center;
}

.image-menu-icon{
  width: 2.5rem;
}