<script lang="ts">
import { defineComponent } from 'vue'
import {getStore} from "@/stores/main";
import userService from "@/services/user-service";
import articleService from "@/services/article-service";


export default defineComponent({
  name: 'ArticleCard',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    article: {
      type : Object,
      default : () => {
        return {};
      }
    },
    isOwnerOfTheRestaurant: {
      type: Boolean,
      default: false
    },
  },
  emits: ['articleRemoved'],
  setup() {
    return {
      store: getStore(),
    }
  },
  data() {
    return {
      quantity: 0,
      showModal: false,
      isOwner: userService.hasRoles(["owner"]),
      isAdmin: userService.hasRoles(["admin"]),
    }
  },
  methods:{
    incrQuantity(){
      this.quantity++;
      this.store.state.articlesInCart.set(this.article._id, this.quantity);
    },
    decrQuantity(){
      if (this.quantity >= 1) {
        this.quantity--;
        this.store.state.articlesInCart.set(this.article._id, this.quantity);
      }
    },
    async removeArticle(){
      await articleService.removeArticle(this.article._id);
      this.$emit('articleRemoved');
    }
  }

},)
</script>

<template>
  <div class="card-menu-item">
    <div style="width: auto">
      <div
        v-if="isAdmin || (isOwner && isOwnerOfTheRestaurant)"
      >
        <button
          class="remove-button"
          @click="removeArticle"
        >
          X
        </button>
      </div>
      <br>
      <img
        :src="article.img"
        class="article-image"
      >
      <div class="article-content">
        <div class="">
          <h3 class="hello">
            <b> {{ article.name }} </b>
          </h3>
        </div>
        <p class="hello">
          {{ article.description }}
        </p>
        <p class="hello">
          {{ article.price }}€
        </p>
        <div class="quantity-selector">
          <button @click="decrQuantity">
            -
          </button>
          <button @click="incrQuantity">
            +
          </button>
        </div>

        <p class="">
          {{ quantity }}
        </p>
      </div>
    </div>
  </div>
  <br>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
