.card-menu-item{
    margin: 2em
}

.hello{
    text-overflow: ellipsis;
    max-width: 5em;
}

.article-image{
  max-width: 150px;
  max-height: 150px;
}

.article-content{
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.quantity-selector{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.remove-button{
  background-color: red;
  border-radius: 10%;
}
