<script lang="ts">
import { defineComponent } from 'vue'
import { mapMutations } from "vuex";
import userService from '../../services/user-service';

export default defineComponent({
  ...mapMutations(["setUser", "setToken"]),
  name: 'RegisterComponent',
  data: () => {
    return {
      firstName: "",
      name: "",
      email: "",
      password: "",
    };
  },
methods: {
    ...mapMutations(["setUser", "setToken"]),

    async register(e: Event) {
      e.preventDefault();
      const success : boolean = await userService.register(this.firstName, this.name, this.email, this.password);
      if (success) {
        this.$router.push("/login");
      } else {
        alert("Email already used");
      }
    },
  },


})
</script>

<template>
  <div class="login-page">
    <div class="login-content">
      <h1 class="register-title">
        <b>Register</b>
      </h1>
      <div class="login-form">
        <input
          v-model="email"
          type="text"
          placeholder="Email"
          class="search-input-login"
        >
        <input
          v-model="firstName"
          type="text"
          placeholder="First name"
          class="search-input-login"
        >
        <input
          v-model="name"
          type="text"
          placeholder="Name"
          class="search-input-login"
        >
        <input
          v-model="password"
          type="password"
          placeholder="Password"
          class="search-input-login"
        >
        <div class="button-login">
          <button
            class="login-button-login"
            type="submit"
            @click="register"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
