<script lang="ts">
import { defineComponent } from 'vue'

const FooterItems = [
  {
    route: '/privacy',
    name: 'Confidentialité',
  },
  {
    route: '/login',
    name: 'Condition Générale',
  },
  {
    route: '/login',
    name: 'Plan du Site',
  },
  {
    route: '/login',
    name: 'Fonctionement du Site',
  },
  {
    route: '/login',
    name: 'Info sur l\'entreprise',
  },
]

export default defineComponent({
  name: 'FooterComponent',
  data() {
    return {
      FooterItems,
    }
  },
})
</script>

<template>
  <div class="principal-footer">
    <div class="footer-content">
      <ul class="footer-list">
        <li>
          <a>© 2022 EasyEat, Inc.</a>
        </li>
        <li
          v-for="item in FooterItems"
          :key="item.name"
          :itemlist="item"
        >
          <router-link
            :to="item.route"
            class="link"
          >
            {{ item.name }}
          </router-link>
        </li>
        <!-- <li>
          <router-link
            to="/privacy"
            class="link"
          >
            Condition Générale
          </router-link>
        </li>
        <li>
          <router-link
            to="/privacy"
            class="link"
          >
            Plan du Site
          </router-link>
        </li>
        <li>
          <router-link
            to="/privacy"
            class="link"
          >
            Fonctionement du Site
          </router-link>
        </li>
        <li>
          <router-link
            to="/privacy"
            class="link"
          >
            Info sur l'entreprise
          </router-link>
        </li> -->
      </ul>
      <div class="footer-config">
        <p>#</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
