@import '../../assets/styles/colors.scss';


.principal-footer {
  display: none;
  }




@media only screen and (min-width : 1224px) {
  .principal-footer {
    display: block;
    background-color: #f5f5f5;
  //   text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
  //   height: 1em;
  }

  .footer-content {
    justify-content: space-around;
    display: flex;
  }

  .footer-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  //   padding: 1em;
      li{
          padding: 0.5rem;
          color: #7d7d7d;
          .link{
              color: #7d7d7d;
              text-decoration: none;
          }
      }
      .link:hover{
          color: $primary_color;
          text-decoration: none;
      }
      .footer-config{
        display: flex;
    }

  }
}
