<script lang="ts">
import { defineComponent } from 'vue'
import RestaurantCard from '../restaurantCard/index.vue'
import restaurantService from "@/services/restaurant-service";
import {Restaurant} from "@/services/types/DataTypes";

export default defineComponent({
  name: 'RestaurantsComponent',
  components: { RestaurantCard },
  //Props restaurants
  data() {
      return {
        restaurants : {}
      }
  },
  async created() {
    let result = await restaurantService.getAllRestaurants();
    this.restaurants = result as Restaurant[];
  }
})
</script>

<template>
  <div class="home">
    <div class="providerlist">
      <RestaurantCard
        v-for="item in restaurants"
        :key="item.name"
        :restaurant="item"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>
