<script lang="ts">
import { defineComponent } from 'vue'
import userService from '../../services/user-service';
import {getStore} from "@/stores/main";

export default defineComponent({
  name: 'LoginComponent',
  setup() {
    return {
      store: getStore(),
    }
  },
  data: () => {
    return {
      email: "",
      password: "",
    };
  },
methods: {
    async login(e: Event) {
      e.preventDefault();
      const success : boolean = await userService.login(this.email, this.password);
      if (success) {
        await this.store.dispatch("setIsLoggedIn", true);
        await this.store.dispatch("setRole", userService.getRole());
        this.$router.push("/restaurants");
      } else {
        alert("Invalid email or password");
      }
    },
  },


})
</script>

<template>
  <div class="login-page">
    <div class="login-content">
      <h1 class="login-title">
        <b>Login</b>
      </h1>
      <div class="login-form">
        <input
          v-model="email"
          type="text"
          placeholder="Email"
          class="search-input-login"
        >
        <input
          v-model="password"
          type="password"
          placeholder="Password"
          class="search-input-login"
        >
        <div class="button-login">
          <button
            class="login-button-login"
            type="submit"
            @click="login"
          >
            login
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>

