<template>
  <LandingPageComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LandingPageComponent from '../../components/landing/index.vue'


export default defineComponent({
  name: 'LandingPage',
  components : {LandingPageComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
