<script lang="ts">
import { defineComponent } from 'vue'
import restaurantService from "@/services/restaurant-service";
import userService from "@/services/user-service";

export default defineComponent({
  name: 'RegisterRestaurantComponent',
  data: () => {
    return {
      name: "",
      description: "",
      category: "",
      street: "",
      zipcode: "",
      city: "",
      number: "",
      file : Object
    };
  },
  methods: {
    onFileChange(e) {
      this.file = e.target.files[0];
    },
    async addRestaurant(e: Event) {
      e.preventDefault();
      const formData = new FormData();
      const content = {
        name: this.name,
        description: this.description,
        category: this.category,
        ownerId : userService.getCurrentUserId(),
        address : {
          number: 1,
          street: this.street,
          zipCode: this.zipcode,
          city: this.city
        }
      };
      formData.append('content', JSON.stringify(content));
      formData.append('img', this.file);
      const success = await restaurantService.addRestaurant(formData);
      if (!success){
        alert("Could not add restaurant");
      }
    },
  }
})
</script>

<template>
  <div class="login-page">
    <div class="login-content">
      <h1>Add restaurant</h1>
      <div class="login-form">
        <input
          v-model="name"
          type="text"
          placeholder="Nom du restaurant"
          class="search-input-login"
        >
        <input
          v-model="description"
          type="text"
          placeholder="Description"
          class="search-input-login"
        >
        <input
          v-model="category"
          type="text"
          placeholder="Categorie"
          class="search-input-login"
        >
        <input
          type="file"
          placeholder="Images"
          class="search-input-login"
          @change="onFileChange"
        >
        <input
          v-model="street"
          type="text"
          placeholder="Rue"
          class="search-input-login"
        >
        <input
          v-model="number"
          type="text"
          placeholder="numero"
          class="search-input-login"
        >
        <input
          v-model="zipcode"
          type="text"
          placeholder="Zip Code"
          class="search-input-login"
        >
        <input
          v-model="city"
          type="text"
          placeholder="Ville"
          class="search-input-login"
        >
        <div class="button-login">
          <button
            class="login-button-login"
            @click="addRestaurant"
          >
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "./style.scss";
</style>


