<template>
  <NavBar />
  <router-view />
  <Footer />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import NavBar from './components/NavBar/index.vue'
import Footer from './components/Footer/index.vue'
import userService from "@/services/user-service";

export default defineComponent({
  components: { NavBar, Footer },
  created() {
    let isLogged = userService.isLogged();
    let role = userService.getRole();
    if (isLogged && role) {
      this.$store.dispatch("setIsLoggedIn", true);
      this.$store.dispatch("setRole", role);
    }
  },
})
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#p {
  display: block;
  margin: 0;
}

</style>
