<template>
  <LoginComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LoginComponent from '../../components/login/index.vue'


export default defineComponent({
  name: 'LoginPage',
  components : {LoginComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
