<template>
  <CartComponent />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import CartComponent from '../../components/cart/index.vue'


export default defineComponent({
  name: 'CartPage',
  components : {CartComponent},

})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
