<template>
  <OrdersDeliverComponent :orders="orders" />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import OrdersDeliverComponent from '../../components/ordersDeliver/index.vue'
import orderService from "@/services/order-service";
import {Order} from "@/services/types/DataTypes";
import userService from "@/services/user-service";


export default defineComponent({
  name: 'OrdersDeliverPage',
  components : {OrdersDeliverComponent},
  data() {
    return {
      orders : [],
    }
  },
  async created() {
    let result = await orderService.getOrdersByDelivererId(userService.getCurrentUserId());
    this.orders = result as Order[];
  }
})
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
